html {
    height: 100%;
}
/* universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* my colors for the website */
:root {
    --bg: #ffffff;
    --secondary: #00daf7;
    --text-color: #000000;
    --error-text: rgb(255, 51, 0);
    --nuke-comment: rgb(197, 70, 180);
  }
  header{
      background-color: gray;
  }

  title {
      display: flex;
      margin-bottom: 10%;
  }
  body{
    background-color: var(--bg);
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  /* signup */

  /* login */
  /* blog stuff */
  /* dashboard */
  /* create blog */


/* btn */
.btn {
    display: inline;
  justify-content: space-between;
  font-size: 1em;
  padding: 0.3em;
  margin-bottom: 0.2rem;
}
  /* mobile use is in future development */
