html {
    height: 100%;
}
/* universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* my colors for the website */
/* :root is css variables so I am setting up my whole css file so its easier than type the same stuff over and over */
:root {
    --bg: #ffffff;
    --secondary: #00daf7;
    --text-color: #000000;
    --error-text: rgb(255, 51, 0);
    -delete-comment: rgb(197, 70, 180);
  }
  header{
      background-color: gray;
  }

  title {
      display: flex;
      margin-bottom: 10%;
  }
  body{
    background-color: var(--bg);
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  /* signup */
  .signup-container {
      /* starts items at the cross axis */
      justify-content: flex-start;
  }
  /* this for the signup types */
  .username,
.signup-email,
.signup-password,
.login-text {
  color: var(--text-color);
}
  .signup-title {
    padding: 1rem;
    text-decoration: none;
  }
.signup-form {
    padding: 1rem;
  margin: 0.5rem;
}
  /* login */
  .login-container {
    justify-content: flex-start;
  }
  .login-title {
    padding: 1rem;
    text-decoration: none;
  }
  .login-form {
    padding: 1rem;
    margin: 0.5rem;
  }
  .email-login,
.password-login,
.sign-up-text {
   color:  var(--text-color);
}

  /* blog stuff */
  /* dashboard */
  /* create blog */


/* btn */
.btn {
    display: inline;
  justify-content: space-between;
  font-size: 1em;
  padding: 0.3em;
  margin-bottom: 0.2rem;
}
  /* mobile use is in future development */
