{{!-- createblog handlebars --}}
<section>
    {{!--  &larr = left arrow --}}
     <a href="/dashboard" class="dashboard-link"> &larr; back to dashboard</a>
  <h2 class="title">Create Blog</h2>
  {{!-- blog form --}}
   <form class="create-new-blog-post-form">
    <div>
      <label class="blog-post-title" for="blog-post-title">Blog's <Title></Title>:</label>
      <input
        class="blog-title"
        type="text"
        id="blog-post-title"
        name="blog-post-title"
        placeholder="Blog title here" />
    </div>
    {{!-- blog content --}}
     <div>
      <label class="blog-post-content" for="blog-post-content">Blog content here:</label>
      <input
        class="blog-body"
        id="blog-post-content"
        name="blog-post-content"
        placeholder="All your blog content here" />
    </div>
</section>