{{!-- only to show the whats on homepage nothing more nothing less --}}
{{#each Blog}}
{{> blog-content}}
{{else}}
{{!-- error message will appear if nothing is seeded --}}
<h3 class="error-text">Umm sure you seeded properly??</h3>
{{/each}}