{{!-- each handlebars will be a section of its own because they are all seperate and diff pages --}}
<section>
    {{!-- login container --}}
    <div class="login-container">
    <div>
      <h2 class="login-title">login</h2><hr />
    </div>
    <form class="login-form">
      <div>
        <label class="email-login" for="email-login">Email:</label>
        <input
          type="text"
          id="email-login"
          placeholder="type email here" />
          </div>
          {{!-- login password here --}}
          <div>
             <label class="password-login" for="password-login">Password:</label>
        <input
          type="password"
          id="password-login"
          placeholder="type password here"  />
          </div>
          {{!-- login button --}}
          <div>
               <button type="submit" class="btn login">Login</button>
        <p class="sign-up-text">want any account, but havent made one? click signup to make one. </p>
        <a href="/signup"><button
            type="button"
            class="btn signup"
          >Sign-Up</button></a>
          </div>
          </form>
          </div>
</section>
{{!-- java file login --}}
<script src="/javascript/login.js"></script>