{{!-- each handlebars will be a section of its own because they are all seperate and diff pages --}}
<section>
    {{!-- login container --}}
    <div class="login-container">
    <div>
      <h2 class="login-title">login</h2><hr />
    </div>
    <form class="login-form">
      <div>
        <label class="email-login" for="email-login">Email:</label>
        <input
          type="text"
          id="email-login"
          placeholder="type email here"
        />
</section>
