<section>
     <h2 class="signup-title">sign-up</h2><hr />
  <div class="signup-container">
    <form class="signup-form">
        {{!-- username for signup --}}
        <div>
        <label class="username" for="username">Username:</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Enter username here" />
      </div>
      {{!-- email for signup --}}
      <div>
        <label class="signup-email" for="signup-email">Email:</label>
        <input
          type="email"
          name="signup-email"
          id="signup-email"
          placeholder="Enter email here" />
      </div>
      {{!-- Password for signup --}}
      <div>
        <label class="signup-password" for="signup-password">Password:</label>
        <input
          type="password"
          name="signup-password"
          id="signup-password"
          placeholder="Enter password here"  />
      </div>
      <div>
          {{!-- signup button --}}
        <button type="submit" class="btn signup">Sign-Up</button>
      </div>
      <div>
          {{!-- message for people that already have an account so they can sign in instead of signing up for a diff account --}}
        <p class="login-text">Created Account already? sign in here:</p>
        <button class="btn login"><a href="/login">Login</a></button>
      </div>
    </form>
  </div>
</section>
{{!-- linking js file --}}
<script src="/javascript/signup.js"></script>