<section>
     <h2 class="signup-title">sign-up</h2><hr />
  <div class="signup-container">
    <form class="signup-form">
        <div>
        <label class="username" for="username">Username:</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Enter username here"
        />
      </div>
</section>